{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block title_inner %}{% endblock %}
{% block body %}
<div class="span6">
  <a href="https://github.com/mfa/webbib"><img style="position: absolute; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <h1>IMSBib 2.0</h1>
  <p/>
  <p>{% trans %}Using <a href="http://flask.pocoo.org">Flask</a>, <a href="http://jinja.pocoo.org/2/">Jinja2</a> and <a href="http://werkzeug.pocoo.org/">Werkzeug</a> as WSGI container.{% endtrans %}</p>
  <p>{% trans %}Development by <a href="http://www.ims.uni-stuttgart.de/~madsacas/">Andreas Madsack</a>.{% endtrans %}</p>
  <p>{% trans %}For questions and suggestions please use the ticketsystem on github: <a href="https://github.com/mfa/webbib/issues">https://github.com/mfa/webbib/issues</a>.{% endtrans %}</p>

</div>
{% endblock %}
